.hero {
  background-color: #374785;
}

.hero-body>.container>.columns>.right {
  display: flex;
  justify-content: flex-start;
}

.hero-body>.container>.columns>.left {
  display: flex;
  justify-content: flex-end;
}

.hero>.hero-foot>.container>.columns>.column .title, .hero>.hero-foot>.container>.columns>.column>.location .subtitle, .hero>.hero-foot>.container>.columns>.column>.location i, .fa-github, .fa-linkedin-in, .fa-instagram, .fa-file {
  color: #F8E981;
}

.fa-github, .fa-linkedin-in, .fa-instagram, .fa-file {
  transition: .15s ease-out;
}

.fa-linkedin-in {
  margin-right: 5px;
}

.fa-linkedin-in:hover {
  color: #0077B5;
}

.fa-file:hover {
  color: #FFFFF0;
}

.fa-github:hover {
  color: #333;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(bottom left, #fccc63, #e95950, #8a3ab9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.hero>.hero-foot>.container {
  margin: 0;
  margin-right: 15px
}

.hero .title {
  font-size: 100px;
  font-weight: bold;
  padding: 10px;
}

.location {
  bottom: -10px;
  padding: 15px;
  position: absolute;
  right: 10px;
}

.location .subtitle, .location .subtitle>i {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

.profile>img {
  border: 15px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #F76C6C;
}

.me p {
  font-weight: bold;
  padding: 75px;
  text-align: center;
}

.tool-belt {
  background-color: #F76C6C;
}

.tool-belt .more {
  padding-top: 50px;
  text-align: center;
}

.tool-belt>.container>.columns {
  padding: 50px;
}

.tool-belt>.container>.columns>.column>.columns>.column {
  display: flex;
  justify-content: space-around;
}

.tool-belt p {
  text-align: center;
}

.tool-belt i, .tool-belt img {
  left: 50%;
  position: relative;
  transform: translate(-50%)
}

/* .involvement{
  height: 400px;
} */

.involvement .title{
  color: #363636;
  margin-left: 25px;
}

.involvement .is-9, .is-3{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.involvement .is-9{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.involvement-item{
  max-width: 20%;
  max-height: 150px;
}

.involvement img{
  height: auto;
  max-height: 75px;
}

.involvement i {
  line-height: inherit;
}

img[class="non-fontawesome"] {
  width: 50px;
}

p[class="non-fontawesome"] {
  margin: -8px
}