.hero {
    overflow: hidden;
}

.columns {
    margin: 0 !important;
}

.column {
    padding: 0 !important;
}

.personal {
    background: #f8f8ff;
}

.professional {
    background: #181819;
}

.personal .hero-body {
    display: flex;
    justify-content: flex-end;   
}

.professional .hero-body {
    display: flex;
    justify-content: flex-start;   
}

.personal .fab {
    color: #181819;
}

.professional .fab, .fas {
    color: #f8f8ff;
}

.personal ul {
    list-style: none;
}

.professional ul {
    list-style: none;
}

ul li {
    text-align: center;
    margin-bottom: 10px;
}

.profile {
    background: linear-gradient(to right, #f8f8ff 50%, #181819 50%);
    text-align: center;
}

.profile img {
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
    border: 10px solid #f8f8ff;
}

.profile h1 {
    width: 150px;
    margin: auto;
    background: #181819;
    margin-top: -6px;
    color: #f8f8ff;
    font-weight: bold;
    padding: 10px;
}

.location {
    background: #f8f8ff;
    text-align: center;
}

.location h1 {
    font-weight: bold;
    color: #181819;
}