:root {
    --primary-white: #f8f8ff;
    --primary-black: #181819;
}

.hero-head {
    text-align: center;
    background: linear-gradient(to right, var(--primary-white) 50%, var(--primary-black) 50%);
}

.hero-head img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--primary-white);
    margin-top: 75px;
}

h1 {
    font-weight: bold !important;
}

.hero-head h1 {
    width: 150px;
    margin: auto;
    background: var(--primary-black);
    margin-top: -6px;
    color: var(--primary-white);
    padding: 10px;
    border-radius: 10px;
}

.hero-body {
    align-items: unset !important;
    justify-content: center;
    background: linear-gradient(to right, var(--primary-white) 50%, var(--primary-black) 50%);
    padding-top: 30px;
}

.personal .fab {
    color: var(--primary-black);
}

.personal h1 {
    transform: rotate(-90deg);
    float: right;
    margin-right: -20px;
    margin-top: 50px;
    color: var(--primary-black);
}

.professional .fab, .fas {
    color: var(--primary-white);
}

.professional h1 {
    transform: rotate(90deg);
    float: left;
    margin-left: -20px;
    margin-top: 50px;
    color: var(--primary-white);
}

li {
    display: flex;
    justify-content: center;
    margin: 10px;
}

li:last-child {
    display: unset;
    justify-content: unset;
    margin: unset;
}